

body, html {
    background-color: #171717;
    color: #EDEDED;
    height: 100%
}

.bg {
    background-image: url("../assets/images/background_blurred.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-container {
    margin-top: 2vh;
}

.page {
    min-height: 95vh;
}

.page-leaderboard {
    min-height: 93vh;
}

.navbar {
    background-color: rgb(68, 68, 68);
    color: #EDEDED;
    height: 5vh
}

.main-search {
    display: flex;
    justify-content: center;
    padding: 5px
}

.player-card-title {
    padding-left: 30px;
    padding-top: 20px
}

.grey-card {
    background-color: rgba(31, 31, 31, 0.8);
    color: white;
}

::placeholder {
    color: rgba(255, 255, 255, 0.5) !important;
}

.form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(31, 31, 31, 0.3)
}



