

body, html {
    background-color: #171717;
    color: #EDEDED;
    height: 100%
}


.bg {
    background-image: url("../assets/images/background_blurred.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page {
    min-height: 95vh;
}

.navbar {
    background-color: #444444;
    color: #EDEDED;
    height: 5vh
}

.main-search {
    display: flex;
    justify-content: center;
    padding: 5px
}

.player-card-title {
    padding-left: 30px;
    padding-top: 20px
}

.grey-card {
    background-color: #444444;
    color: white;
    
}



